/* Discover.css */

.carousel {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

.item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-info {
  position: absolute;
  top: 120px;
  padding: 10px;
  width: 600px;
  left: 20px;

  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.season {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.desc,
.details,
.additional-info {
  font-size: 1rem;
  margin-bottom: 10px;
}

.additional-info {
  font-style: italic;
  color: #ddd; /* Light gray color for additional info */
}

/* Ensure the images cover the entire carousel */
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Customize Carousel Dots */
.custom-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #fefb01;
}

/* Customize navigation buttons */
.btn-prev,
.btn-next {
  position: absolute;
  font-size: 24px;
  color: white;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.btn-prev {
  left: 20px;
}

.btn-next {
  right: 20px;
}
.details {
  display: flex;
  align-items: center;
}

/* Add or update this style based on your preference */
.info-icon {
  margin-right: 5px;
}
.watch-now-button {
  padding: 10px 20px;
  background-color: #a81f1f;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
